.container-wrapper{
	width:80%; 
	margin: 0 auto; 
	background-color:#FFFFCC; 
	text-align:center
}

.container{
	margin: 0 auto
}

.jobTable{
	margin-top:40px;
	border:1px solid white;
	width:100%; 
	text-align:center
}

.jobTable th, td {
	text-align:center; 
	border:1px solid white
}

.sortBox{
	float:right; 
	margin-right:10px
}
